html {
  background: var(--color-light);
  color: var(--color-dark);
}

body {
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

blockquote {
  border-left-width: 3px;
  border-style:double;
  border-color: var(--color-dark);
  font-family: 'Family';
  font-weight: 100;
  font-style: italic;
  font-size: xx-large;
}

pre {
  padding: 0.5rem 1rem;
  overflow-x: scroll;
  border-radius: 2px;
}

code {
  font-family: ui-monospace, 'IBM Plex Mono', 'Fira Mono', 'Source Code Pro', Menlo, Monaco, monospace;
  font-size: 0.9em;
}

@font-face {
  font-family: "Gibson";
  src: url("/_public/typeface/gibson/Gibson-Light.woff2") format("woff2");
  font-weight: 100;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: "Gibson";
  src: url("/_public/typeface/gibson/Gibson-LightItalic.woff2") format("woff2");
  font-weight: 100;
  font-style:italic;
}

@font-face {
  font-family: "Family";
  src: url("/_public/typeface/family/family-light-italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-variant-ligatures: common-ligatures;
}
@font-face {
  font-family: "Family";
  src: url("/_public/typeface/family/family-bold.woff2") format("woff2");
  font-weight: 700;
  font-variant-ligatures: common-ligatures;
}

@font-face {
  font-family: "Family";
  src: url("/_public/typeface/family/family-black.woff2") format("woff2");
  font-weight: 900;
  font-variant-ligatures: discretionary-ligatures;
}

.font-body {
  font-family: var(--font-body);
}

.font-heading {
  font-family: var(--font-heading);
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  html {
    background: var(--color-dark);
    color: var(--color-light);
  }

  blockquote {
    border-color: var(--color-light);
  }
}

